* {
    /* TESTING ONLY, REMOVE WHEN FINISHED */
    /* border: 1px dotted green; */
    /* Keep this of course 🫡 */
    box-sizing: border-box;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    background: #e8cfc5;
}

body {
    /* margin: 4rem auto 0 auto; */
    /* font-family: 'Oswald Variable', sans-serif; */
    width: 100%;
    max-width: 160ch;
    padding: 1rem 1rem 0 1rem;
    line-height: 1.5;
    background: #faece6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

p {
    font-family: sans-serif;
}

#landing-html {
    height: 100vh;
    position: relative;
}

/* @lexi - doing work 🙏... not a peasant */
#landing-body {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    height: 95%;
    /* background: no-repeat url("/images/cherry-blossoms-ai.jpg");
    background-position: right, left;
    background-size: cover; */
}

#landing-h1 {
    font-size: 0.7rem;
    color: #f06735;
    background-color: #f7d7cb;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 32px;
    text-transform: uppercase;
}

#intro-text {
    max-width: 36rem;
}

.arrow-outward-rounded-link {
    color: red;
    font-size: 20px;
    background-color: #f7d7cb;
    padding: 0.5rem;
    border-radius: 1em;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    display: flex;
    gap: 1rem;
    width: 100%;
    top: 5rem;
    left: 48px;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.expanded {
    display: unset;
}

/** Dark Theme Styles */
html.dark {
    background-color: #1b1b1b;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

@media screen and (min-width: 636px) {
    /* .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    } */

    .nav-links a {
        display: inline-block;
    }
    
    .hamburger {
        display: none;
    }

}