* {
    /* TESTING ONLY, REMOVE WHEN FINISHED */
    /* border: 1px dotted green; */
    /* Keep this of course 🫡 */
    box-sizing: border-box;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
    background-image: url("/images/knoxsite_background_light.jpg");
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

p {
    font-family: sans-serif;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    display: flex;
    gap: 1rem;
    width: 100%;
    top: 5rem;
    left: 48px;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.expanded {
    display: unset;
}

/** Dark Theme Styles */
html.dark {
    background-color: #1b1b1b;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

/** Light mode:
accent box: FEFAF0
main box: F8EDE4
background: E6D0C3
button background: FEE4E0
gradient color: first FFD8D8 second FEFAF0
Link text primary: B48083
Link text secondary: D28B8F
dates: CAB2A3
*/

/** Dark mode colors
accent box: E2E2FF 
main box: A7BEF4
background: 1C4283
button background: C1D0F0
gradient color: first A7C1E4 second 1C4283
Link text primary: 1C3D68
Link text secondary: 2A5893
dates: 7795C7
*/


@media screen and (min-width: 636px) {
    /* .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    } */

    .nav-links a {
        display: inline-block;
    }
    
    .hamburger {
        display: none;
    }

}