---

---

<div class="w-72 h-44 relative">
  <a href="/blog/" class="absolute w-full h-full block"></a>
  <img src="/images/tyler-lastovich-e31ANd1PXUw-unsplash.jpg" />
</div>

<style>
  img {
    width: inherit;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }
</style>
